* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #0d1117;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #111827;
  padding: 40px;
  border-radius: 15px;
  width: 500px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5 20px;
  margin-bottom: 20px;
}
.nav .left a, nav .right a {
  color: #aaa;
  margin-left: 20px;
  text-decoration: none;
  font-size: 0.9em;
  transition: color 0.3s;
}

.nav a:hover {
  color: #fff;
}

.form-section h4 {
  color: #aaa;
  margin-bottom: 5px;
  font-size: 0.9em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.form-section p {
  color: #aaa;
  margin-bottom: 25px;
}

.form-section .login-link {
  color: #3b82f6;
  text-decoration: none;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  background-color: #2d2f40;
  color: #fff;
  font-size: 0.95em;
}

input::placeholder {
  color: #999;
}

input.inputEP {
  all:unset;
  appearance: auto;
  width:16px;
  height:12px;
}


.RemLabel{
  display: flex;
  align-items: center;
  gap:6px;
  user-select: none;
  font-size: 1.05rem;
  padding: 10px;
  margin-top:10px;
  margin-bottom:10px;
  color:#999;
  transition: color 0.2s ease;
}
.RemLabel:hover{
  color:#666;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 18px;
  font-weight: 300;
  transition: 0.3s;
}


.change-method {
  background: linear-gradient(to right, #3b82f6, #124290);
  color: white;
}

.change-method:hover {
  opacity: 0.7;
}
